[Unit]
Description=Stack Overflow Login service
After=network.target
StartLimitIntervalSec=0

[Service]
Type=oneshot
#Restart=always
#RestartSec=1
User=pi    
ExecStart=/usr/bin/env python /usr/sbin/stack_overflow_daily.py

[Install]
WantedBy=multi-user.target
